<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        tools:node="remove" />

    <application
        android:name=".ConnesterApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:debuggable="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Connester"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"
        tools:ignore="HardcodedDebugMode"
        tools:targetApi="s">
        <activity
            android:name=".activity.message.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.mycommunity.GroupDisableActivity"
            android:exported="false" />
        <activity
            android:name=".activity.mycommunity.ManageMyCommunityActivity"
            android:exported="false" />
        <activity
            android:name=".activity.businesspage.JobApplicationListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.businesspage.PageDisableActivity"
            android:exported="false" />
        <activity
            android:name=".activity.businesspage.PageEventMangeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.businesspage.PageJobMangeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.businesspage.ManageMyPageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShowPortfolioApplyJobActivity"
            android:exported="false" />
        <activity
            android:name=".activity.mysaveditem.MySavedItemActivity"
            android:exported="false" />
        <activity
            android:name=".activity.settingActivity.Blocking_PersonActivity"
            android:exported="false" />
        <activity
            android:name=".activity.settingActivity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.mycommunity.MyCommunityActivity"
            android:exported="false" />
        <activity
            android:name=".activity.businesspage.BusinessPageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.UserMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JobsEvents_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.nonslug.AddFeedsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NetworkActivity"
            android:exported="false" />
        <activity
            android:name=".activity.message.ChatHistoryUsersActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FeedFullViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.business.BusinessActivity"
            android:exported="false" />
        <activity
            android:name=".activity.community.CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StepActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AcDisableActivity"
            android:exported="false" />
        <activity
            android:name=".activity.nonslug.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.nonslug.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <service
            android:name=".module.notification_message.firebase_core.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>